apiVersion: cert-manager.io/v1alpha2
kind: ClusterIssuer
metadata:
  name: letsencrypt-production
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: "{{.Email}}"
    solvers:
    - selector: {}
      http01: 
        ingress:
          class: nginx
    privateKeySecretRef:
      name: letsencrypt-production
