[Unit]
Description={{.ProjectTitle}}

[Service]
ExecStart={{.Command}} run --base-directory={{.BaseDirectory}} --hide-progress
Restart=on-failure
KillSignal=SIGINT
KillMode=process
RestartSec=5
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target
