---
apiVersion: v1
kind: Namespace
metadata:
  name: {{.Namespace}}

---
apiVersion: v1
kind: Secret
metadata:
  namespace: {{.Namespace}}
  name: {{.SecretName}}
type: Opaque
data:
  {{range $key, $value := .Data }}
  {{$key}}: "{{ $value | base64 }}"
  {{end}}
